<!DOCTYPE html>
<html>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	
   <body>
   <div id="temperatureContainer" style="height: 300px; width: 100%;"></div>
   <br>
   <div id="ulkoContainer" style="height: 300px; width: 100%;"></div>
   <br>
   <div id="humidityContainer" style="height: 300px; width: 100%;"></div>
   
   <br>
<!--      <table border = 1>
         <thead>
            <td>temperature</td>
            <td>humidity</td>
            <td>datetime</td>
            <td>device</td>
         </thead>
         
         {% for row in data %}
            <tr>
               <td>{{row["temp"]}}</td>
               <td>{{row["humi"]}}</td>
               <td>{{row["datetime"]}}</td>
               <td>{{row['device']}}</td>	
            </tr>
         {% endfor %}
      </table>
      -->
      <br>
      <!--<a href = "/">Tee uusi mittaus</a>-->
      <script type="text/javascript">
		window.onload = function () {
			
			var tempList = []
			var humiList = []
			var ulkoList = []
			
			var data = {{data|tojson}};
			
			data.forEach(d => {
				var temps = {label: d.datetime, y: parseFloat(d.temp)};
				tempList.push(temps);
				var humidity = {label: d.datetime, y: parseFloat(d.humi)};
				humiList.push(humidity);
				var ulko = {label: d.datetime, y: parseFloat(d.ulko)};
				ulkoList.push(ulko);
			});
			
			var temperature = new CanvasJS.Chart("temperatureContainer", {
				title:{
					text: "Sisälämpötila"              
				},
				axisY:{
					minimum: 0,
					maximum: 50
				},
				data: [              
					{
						type: "spline",
						dataPoints: tempList,
						lineColor: "grey",
						color: "grey"
					}
				]
			});
			temperature.render();
			
			var humidity = new CanvasJS.Chart("humidityContainer", {
				title:{
					text: "Ilmankosteus sisällä"              
				},
				axisY:{
					minimum: 0,
					maximum: 100
				},
				data: [              
					{
						type: "spline",
						dataPoints: humiList
					}
				]
			});
			humidity.render();
			
			var ulko = new CanvasJS.Chart("ulkoContainer", {
				title:{
					text: "Lämpötila ulkona"              
				},
				axisY:{
					minimum: -40,
					maximum: 50
				},
				data: [              
					{
						type: "spline",
						dataPoints: ulkoList,
						lineColor: "green",
						color: "green"
					}
				]
			});
			ulko.render();
		}
	</script>

   </body>
</html>
